domain_trans(init, rootfs, adbd)

# Allow init to mount block devices
allow init {
    hisee_data_file
    splash2_data_file
}:dir mounton;

allow init {
    hisee_data_file
    splash2_data_file
}:filesystem { getattr mount unmount relabelfrom relabelto };

allow {
    hisee_data_file
    splash2_data_file
} self:filesystem associate;

# Allow init to mount vendor configs
allow init vendor_configs_file:file mounton;
allow init vendor_configs_file:dir mounton;

# Allow init to load kernel modules
allow init kernel:system module_request;

allow hwsched system_data_file:lnk_file read;

allow init sysfs_led:file setattr;

# Allow init to mount adbd binary
allow init rootfs:file mounton;
