type irqbalance, domain;
type irqbalance_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(irqbalance);

allow irqbalance self:capability dac_override;

allow irqbalance proc:dir { write add_name };
allow irqbalance proc:file create;

